 <!-- 1. Connection Strings (Databases) -->
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server={{DBSERVER_NAME}};Database={{database}};User Id={{DB_USER}};Password={{DB_PASSWORD}};" 
         providerName="System.Data.SqlClient" />
    <add name="HIST_DB" value="{{HIST_DB}}">
    <add name="ARCH_DB" value="{{ARCH_DB}}">
    <add name="port"    value="{{DBSERVER_PORT}}">
  </connectionStrings>